<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/jqFancyTransitions.js" type="text/javascript"></script>
<div id='slideshowHolder'>
 <img src='pills.jpg' alt='Our experts work hard to produce high quality medicine' />
 <img src='pills1.png' alt='Precious advices from our doctors' />
 <img src='pills2.jpg' alt='Perfect planning and measurments' />
</div>


<h4>Stock Report:</h4><br />
<div style="width:100%;">
<div style="height:300px;width:30%;float:left;">
<h5>All Products: ( <%= @products.count %> )</h5><br/>
<% @products.each do |product| %>
	<li><%= link_to product.product_name, product_path(product) %></li><br />
	<% end %>
</div>
<div style="height:300px;width:40%;float:left;">
	<h5>Recently added products:</h5><br/>
	<% @products.last(5).reverse.each do |product| %>
		<li><%= link_to product.product_name, product_path(product)  %> &nbsp; <%= product.created_at %></li><br />
		<% end %>
</div>
<div style="height:300px;width:30%;float:right;">
	<h5>Products expiration days:</h5><br/>
	<% @products.each do |p| %>
	<% if (p.expired_on-Date.today).to_i <= 0 %>
	<li><%= link_to p.product_name, product_path(p)  %>&nbsp;
	(expired <%= (p.expired_on-Date.today).to_i %>&nbsp;days ago)</li><br />
	<% else %>
		<li><%= link_to p.product_name, product_path(p)  %>&nbsp;(<%= (p.expired_on-Date.today).to_i %>&nbsp;days)</li><br />
		<% end %>
		<% end %>
</div>

</div>
<script>
$(document).ready( function(){
	$('#slideshowHolder').jqFancyTransitions({ width: 900, height: 380,navigation: true });
});
</script>
